apiVersion: apps/v1
kind: Deployment
metadata:
  name: sensor-deployment
  namespace: industrial-iot
spec:
  replicas: 2
  selector:
    matchLabels:
      app: sensor
  template:
    metadata:
      labels:
        app: sensor
    spec:
      containers:
      - name: sensor-app
        image: python:3.9-slim
        command: ["/bin/sh", "-c"]
        # Ce script crée le fichier main.py au démarrage du conteneur
        args: 
          - |
            pip install flask;
            cat <<EOF > main.py
            from flask import Flask, jsonify
            import random, time
            app = Flask(__name__)
            @app.route('/metrics')
            def metrics():
                return jsonify({"temp": round(random.uniform(40, 80), 2), "status": "NOMINAL", "timestamp": time.time()})
            @app.route('/')
            def home():
                return "Industrial Sensor Node is Running"
            app.run(host='0.0.0.0', port=5000)
            EOF
            python main.py
        ports:
        - containerPort: 5000
